@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');

:root {
  --primary-color: #ee3965;
  --secondary-color: #1f4280;
  --bg-color: #183467;
  --text-color: #fff;
  --placeholder-color: #ee3965;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todos-list {
  list-style: none;
  width: 600px;
  margin: 10px auto 40px auto;
  border-radius: 4px;
  background-color: var(--secondary-color);
  padding: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--bg-color);
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.todo-item:hover {
  transform: scale(0.97);
}

.todo-item span {
  cursor: pointer;
  display: inline-flex;
}

.todo-item button {
  min-width: 0;
  padding: 6px 14px;
}
